/* Define variables for colors */
:root {
    --black: #000000;
    --dark-gray: #1c2128;
    --medium-gray: #22272e;
    --light-gray: #adbac7;
    --green: #2ea749;
    --orange: #cf4a19;
}

/* General styles */
body {
    color: var(--light-gray);
    background-color: var(--black);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
    border-color: var(--light-gray);
}

header {
    background-color: var(--black);
    padding: 15px;
}

#repo-product-mapping {
    background-color: var(--medium-gray);
    padding: 15px;
}

h1, h2 {
    color: var(--light-gray);
}

/* Form fields */
input, select {
    padding: 5px 10px;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    border: 1px solid var(--dark-gray);
    transition: border 0.3s ease;
    border-radius: 5px;
}

input:focus, select:focus {
    border-color: var(--light-gray);
}

/* Modals */
#newProductModal, #confirmProductModal {
    background-color: var(--medium-gray);
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
}

/* Buttons */
button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    filter: brightness(1.1);
}

#submitBtn, button[onclick="showConfirmationModal()"], button[onclick="finalAddProduct()"] {
    background-color: var(--green);
}

button[onclick="closeAllModals()"], button[onclick="closeModal()"] {
    background-color: var(--orange);
}

/* Additional styles */
div {
    margin: 10px 0;
}

label {
    color: var(--light-gray);
}

/* Adjusted modal styles */
#newProductModal, #confirmProductModal {
    background-color: var(--medium-gray);
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
}

/* Adjustments to position the buttons with some spacing */
button {
    margin: 5px;
}
